@use 'variables';

.button {
    padding: 14px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &--primary {
        color:#fff;
        background-color: variables.$green;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}